#root {
  width: 100%;
}

.App {
  text-align: center;
  width: 100%;
}

.header {
  background-color: #282c34;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  min-height: 65px !important;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.25);
  & .logo {
  	display: inline-block;
  	padding: 5px;
  	margin: 5px;
  	max-height: 50px;
  	float: left;
  }
  & a {
  	text-decoration: none;
  }
  & li {
  	list-style-type: none;
  }
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	width: 85%;
	margin: auto;
	padding: 0 20px;
  & li.menu-item {
    display: block;
    width: 80%;
    padding: 20px 0;
    border-color: #373a47 !important;
    border: none !important;
    border-image: none !important;
  }
}

.container {
  padding-top: 80px;
  max-width: 100%;
}
