@mixin checked_label($color: #339, $weight: 500) {
	cursor: pointer;
	color: $color;
	font-weight: $weight;
};

.radio {
	width: 50%;
	margin-left: 40%;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	& label {
		max-width: 25%;
		&:hover {
			@include checked_label($color: #777);
		}
	}
}

.notify {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	animation: fadeIn 0.3s;
	&.wait {
		
	}
	&.error {
		color: #ec5500;
	}
}

.checkedLabel {
	@include checked_label;
}

input[type=radio] {
	display: none;
}

@media screen and (max-width: 768px) {
	.imageList {
		padding: 0 5%;
		margin: auto;
	}

	.radio {
		width: 100%;
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 95%;
		margin: auto;
	}

	.imageList {
		padding: 0;
		width: 100%;
	}

	.radio {
		width: 100%;
		margin-left: 0;
	}
}