@media screen and (max-width: 768px) {
	.imageList {
		padding: 0 5%;
		margin: auto;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 95%;
		margin: auto;
	}

	.imageList {
		padding: 0;
		width: 100%;
	}
}